doctype html
head
  title QOE Accelerator
  style.
    Body {
    background-image:
    url('https://64.media.tumblr.com/e93099f853c2ca571647b256810fd4be/55518610e63fa8f5-7e/s1280x1920/e41176d4058186eed3acf05f48b7bc8047e706ac.gif');
    font-family: Calibri, Helvetica, sans-serif;
    background-size: 1900px;
    background-repeat: no-repeat;
    }
    h1 {
    width:400px;
    margin: 0 auto;
    text-align: center;
    display; block;
    background: teal;
    }
    a {
    width:400px;
    margin:  auto;
    text-align: center;
    display; block;
    background: teal;
    }
    button {
    background-color: grey;
    width: 50%;
    color: orange;
    padding: 15px;
    margin: auto;
    border: none;
    cursor: pointer;
    }
    button:hover {
    opacity: 0.7;
    }
h1(style='color:black;font-size:50px;')  XR Edge Chain
button#myButton1(style='font-size:25px;' onclick="location.href = 'http://203.247.240.236:11800/api/queryallvideos';" class="button") View All Video Chunks
button#myButton(style='font-size:25px;' onclick="location.href = 'http://203.247.240.236:11800/api/create';" class="button") Add New Video Chunk

